<!doctype html>

<%inherit file="form_template.html"/>

${parent.header()}
<%block name="breadcrumb">
<div id="breadcrumb">Index > <span style="color:red;">EPEX spot prices data selection</span></div>
</%block>

<%block name="form">
<input type="radio" name="type" value="intraday">Intraday</input><br/>
<input type="radio" name="type" value="dayahead">Day Ahead</input><br/><br/>

<input type="radio" name="resolution" value="hourly">Hourly resolution</input><br/>
<input type="radio" name="resolution" value="quarterhourly">Quarterhourly resolution</input><br/><br/>

<input type="radio" name="country" value="ch">Switzerland</input><br/>
<input type="radio" name="country" value="fr">France</input><br/>
<input type="radio" name="country" value="de">Germany</input><br/><br/>
</%block>

<%block name="miniguide">
This selects data from the following tables :<br/>
<br/>
<strong>EPEX_DayAheadHour_CH</strong> (Day Ahead, Hourly, Switzerland)<br/>
<strong>EPEX_DayAheadHour_FR</strong> (Day Ahead, Hourly, France)<br/>
<strong>EPEX_DayAheadHour_DE</strong> (Day Ahead, Hourly, Germany)<br/>
<br/>
<strong>EPEX_DayAheadBlocks_DE</strong> (Day Ahead, Quarterhourly, Germany)<br/>
<strong>EPEX_DayAheadBlocks_FR</strong> (Day Ahead, Quarterhourly, France)<br/>
<strong>EPEX_DayAheadBlocks_CH</strong> (Day Ahead, Quarterhourly, Switzerland)<br/>
<br/>
</%block>
