<!doctype html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="template_edit.css" />
    <script src="script.js"></script>
</head>
<body>
<div id="page">
    <div id="header">
        <div style="width: 260px; float: left">
            <a href="index"><h1 id="logo">Title</h1></a><br/><br/>
        </div>
        <h1>Web interface to electricity production and pricing database</h1>
    </div>
    <div style="clear: both;"></div>

    % if form_action == "download_csv_epex_spot":
        <%include file="/epex_spot/epex_spot_breadcrumb.html"/>

    % elif form_action == "download_csv_eex_trans":
        <%include file="/eex_trans/eex_trans_breadcrumb.html"/>

    % elif form_action == "download_csv_rz_saldo":
        <%include file="/rz_saldo/rz_saldo_breadcrumb.html"/>

    % elif form_action == "download_csv_control_reserve_tenders":
        <%include file="/control_reserve_tenders/control_reserve_tenders_breadcrumb.html"/>

    % elif form_action == "download_csv_climate_data":
        <%include file="/climate_data/climate_data_breadcrumb.html"/>

    % elif form_action == "download_csv_activation_high_res":
        <%include file="/activation_high_res/activation_high_res_breadcrumb.html"/>

    % elif form_action == "download_csv_activation_high_res":
        <%include file="/activation_high_res/activation_high_res_breadcrumb.html"/>

    % endif
    <div id="navigation">
        <!-- navigation here -->

        <a href='tutorial'>Tutorial</a><br/><br/>
        <a href='whatisthis'>What is this</a><br/><br/></div>
</div>
<div id="page_content">

    <form method="get" action="${form_action}">${group_name} data download :<br/><br/>
        Startdate : <input type="datetime-local" value="" name="startdate"/><br/>
        Enddate : <input type="datetime-local" value="" name="enddate"/><br/>

        % if form_action == "download_csv_epex_spot":
            <%include file="/epex_spot/epex_spot_form.html"/>

        % elif form_action == "download_csv_eex_trans":
            <%include file="/eex_trans/eex_trans_form.html"/>

        % elif form_action == "download_csv_control_reserve_tenders":
            <%include file="/control_reserve_tenders/control_reserve_tenders_form.html"/>

        % elif form_action == "download_csv_rz_saldo":
            <%include file="/rz_saldo/rz_saldo_form.html"/>

        % elif form_action == "download_csv_climate_data":
            <%include file="/climate_data/climate_data_form.html"/>

        % elif form_action == "download_csv_activation_high_res":
            <%include file="/activation_high_res/activation_high_res_form.html"/>

        % elif form_action == "download_csv_activation_high_res":
            <%include file="/activation_high_res/activation_high_res_form.html"/>

        % endif

        <button type="submit">Get data</button></form>

</div><br/>
</form>

</div>

<div id="metadata">
    % if form_action == "download_csv_epex_spot":
    <%include file="/epex_spot/epex_spot_miniguide.html"/>

    % elif form_action == "download_csv_eex_trans":
    <%include file="/eex_trans/eex_trans_miniguide.html"/>

    % elif form_action == "download_csv_rz_saldo":
    <%include file="/rz_saldo/rz_saldo_miniguide.html"/>

    % elif form_action == "download_csv_control_reserve_tenders":
    <%include file="/control_reserve_tenders/control_reserve_tenders_miniguide.html"/>

    % elif form_action == "download_csv_climate_data":
    <%include file="/climate_data/climate_data_miniguide.html"/>

    % elif form_action == "download_csv_activation_high_res":
    <%include file="/activation_high_res/activation_high_res_miniguide.html"/>

    % elif form_action == "download_csv_activation_high_res":
    <%include file="/activation_high_res/activation_high_res_miniguide.html"/>

    % endif
</div>
<div style="clear: both;"></div>
</div>
<footer>
    <div id="backtotop">
        <a href="#header">[back to top]</a>
    </div>
    <div id="copyright">
        <!-- copyright here -->
    </div>
</footer>
</body>
</html>

