@charset "UTF-8";
/* general site definitions */
html {
	height: 100%;
	color: #666666;
	background: url("bg_page.jpg") repeat-x scroll left top #ffffff;
	font-family: verdana, tahoma, sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 1.3;
}

::selection {
	background: #7dcc04;
	color: #fff;
}

::-moz-selection {
	background: #7dcc04;
	color: #fff;
}

/* layout elements */
#header {
	width: auto;
	height: 128px;
}

#logo {
	margin: 0;
	padding: 150px 0 0 0;
	overflow: hidden;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	height: 0px !important;
	height /**/: 123px;
	cursor: pointer;
}

#page {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
}

div#navigation {
	height: auto;
	margin-left: 3px;
	width: 220px;
	padding: 8px;
	float: left;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #dddddd;
}

#navigation ul {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 3px;
	color: #8d095a;
}

div#page_content {
	margin-left: 255px;
	width: 1050px;
	height: 100%;
	padding: 0;
	padding-bottom: 25px;
	min-height: 100%;
}

#copyright {
	position: absolute;
	bottom: 0;
	height: 12px;
	width: 100%;
	text-align: right;
	font-size: 9px;
}

#backtotop {
	position: absolute;
	bottom: 12px;
	height: 12px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	text-align: center;
	font-size: 10px;
}

#search {
	padding-top: 30px;
	margin-left: 220px;
	width: 500px;
	text-align: right;
}

#search input {
	border: 1px black solid;
	height: 20px;
}

.warning_title {
	width: 558px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #fcefa1;
	padding: 3px;
	background-color: #fcefa1;
	color: #000000;
	font-weight: bold;
}

.warning_content {
	width: 550px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #fcefa1;
	margin-bottom: 10px;
	padding: 7px;
	background-color: #fbf9ee;
	color: #000000;
}


.error_title {
	width: 509px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ff6868;
	padding: 3px;
	background-color: #ff0000;
	color: #000000;
	font-weight: bold;
}

.error_content {
	width: 500px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #ff6868;
	margin-bottom: 10px;
	padding: 7px;
	background-color: #ffa8a8;
	color: #000000;
}
.kit {
	color: #009d82;
}

.eifer {
	color: #7dc004;
}

.edf {
	color: #fd5813;
}
/* content elements definition */
th {
	text-align: left;
}

th img {
	border: 0;
}

.tablewithhover tr:hover {
	color: black;
}

#retro_line  td{
	font-weight: lighter;
}

#home {
	width: 100%;
}

.table th, .tablewithhover th {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #aaa;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 12px;
	font-weight: bold;
}

#submit {
	text-align: center;
}

#submit input {
	width: 250px;
}

#right div,#right td {
	align: right;
	text-align: right;
}

#result,#result_1,#result_2,#result_3,#result_4,#result_5,#result_6,#result_7,#result_8,#result_9,#result_10,#result_11,#result_12
	{
	margin-right: 3px;
	text-align: right;
}


.table td, .tablewithhover td {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ddd;
	padding: 4px;
	text-align: left;
	border: 1px #fff solid;
	vertical-align: top;
}

.table td input {
	text-align: right;
}

div#navigation hr {
	background: #aaaaaa;
	border: none;
}

#chatbox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ddd;
	padding: 4px;
	text-align: left;
	border: 1px #AAA solid;
	vertical-align: top;
	overflow: auto;
	height: 250px;
	width: 810px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#navigation a:link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#navigation a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#navigation a:hover,a:active {
	color: #7dc004;
	text-decoration: underline;
}

a:link {
	border:0;
	color: black;
	text-decoration: none;
}
/* IE fix.. */
a > img {
	border:0;
}
a:visited {
	color: black;
	text-decoration: none;
}

a:hover,a:active {
	color: #7dc004;
	text-decoration: underline;
}

#calendar {
	border: 1px black dotted;
	width: 100%;
}

#calendar td {
	height: 30px;
}

#gallery {
	border-collapse: collapse;
	border: 1px solid darkgrey;
}

#gallery td {
	height: 91px;
	vertical-align: middle;
	text-align: center;
}

#gallery tr {
	vertical-align: middle;
	text-align: center;
	background-color: black;
}

#gallery img {
	padding: 1px;
	border: 1px black solid;
}

.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.highlight {
	background-color: #7dc004;
	color: black;
}

/**
* form elements
*/

form.myform {
	background: #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	/*width: 500px;*/
	width:auto;
}

form.myform fieldset {
	border: none;
	margin-bottom: 5px;
}

form.myform  fieldset:last-of-type {
	margin-bottom: 0;
}

form.myform  legend {
	color: #8d095a;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 3px;
}

form.myform ol li,form.myform fieldset ol li div ol li {
	background: #c4c4c4;
	background: rgba(255, 255, 255, .3);
	border-color: #e7e7e7;
	border-color: rgba(255, 255, 255, .6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 20px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
	display: block;
}

form.myform div.form-listing ol li {
	min-height: 20px;
}

form.myform  ol li {
	min-height: 20px;
}
form.myform fieldset ol li div.form-listing ol li label {
	float: left;
	font-size: 12px;
	min-width: 80px;
	margin-left:5px;
	display: inline-block;
	white-space:nowrap; /*to fix ie wrapping*/
}


form.myform fieldset ol li div.form-listing ol li select {
	float:left;
	font-size: 12px;
	min-width: 120px;
	display: inline-block;
	white-space:nowrap; /*to fix ie wrapping*/	
}


form.myform fieldset ol li div.form-listing ol li input {
	float: left;
	font-size: 12px;
	min-width: 120px;
	display: inline-block;
	white-space:nowrap; /*to fix ie wrapping*/
}

form.myform fieldset ol li div.form-listing ol li a {
	float: right;
	vertical-align:top;
}


form.myform label {
	float: left;
	font-size: 12px;
	min-width: 120px;
	display: inline-block;
	white-space:nowrap; /*to fix ie wrapping*/
}

form.myform fieldset fieldset label {
	background: none no-repeat left 50%;
	line-height: 18px;
	width: auto;
}

form.myform fieldset fieldset label:hover {
	cursor: pointer;
}

form.myform  input:not   ([type=radio]   ),form textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	outline: none;
	padding: 5px;
	width: 200px;
}

form.myform input:not         ([type=submit]          ):focus,form textarea:focus
	{
	background: #eaeaea;
}

form.myform input[type=radio],input[type=checkbox] {
	float: left;
	margin-right: 5px;
}

form.myform button {
	background: #7dc004;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
	margin: auto;
	padding: 3px 50px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

form.myform  button:hover {
	background: #ffffff;
	color: #7dc004;
	cursor: pointer;
}

form.myform .filedrop {
	border: 2px dashed #555555;
	border-radius: 7px 7px 7px 7px;
	color: #555555;
	cursor: default;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
}

form.navigation {
	background: #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	width: auto;
}

form.navigation fieldset {
	border: none;
	padding: 2px;
}

form.navigation  fieldset:last-of-type {
	margin-bottom: 0;
}

form.navigation legend {
	color: #8d095a;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 3px;
}

form.navigation fieldset fieldset legend {
	color: #000000;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form.navigation fieldset ol {
	padding: 0;
	margin: 0;
}

form.navigation ol li {
	background: #c4c4c4;
	background: rgba(255, 255, 255, .3);
	border-color: #e7e7e7;
	border-color: rgba(255, 255, 255, .6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 25px;
	list-style: none;
	padding-left: 10px;
	padding-right: 5px;
	float: left;
	margin-right: 5px;
}

form.navigation ol ol li {
	background: none;
	border: none;
	float: left;
}

form.navigation label {
	float: left;
	font-size: 13px;
	width: 90px;
}

form.navigation fieldset fieldset label {
	background: none no-repeat left 50%;
	line-height: 20px;
	width: auto;
}

form.navigation fieldset fieldset label:hover {
	cursor: pointer;
}

form.navigation  input:not          ([type=radio]          ),form textarea
	{
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px georgia, "times new roman", times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
}

form.navigation input:not         ([type=submit]          ):focus,form textarea:focus
	{
	background: #eaeaea;
}

form.navigation input[type=radio],input[type=checkbox] {
	float: left;
	margin-right: 5px;
}

form.navigation button {
	background: #7dc004;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font-size: 10px;
	letter-spacing: 1px;
	height: 25px;
	margin: auto;
	/*padding: 5px 15px;*/
	padding-left: 15px;
	padding-right: 15px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
	text-vertical-align: middle;
}

form.navigation  button:hover {
	background: #ffffff;
	color: #7dc004;
	cursor: pointer;
}

form.navigation .filedrop {
	border: 2px dashed #555555;
	border-radius: 7px 7px 7px 7px;
	color: #555555;
	cursor: default;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
}

.currency {
	text-align: right;
}

.message {
	font-size: 11px;
	text-align: center;
	padding-top: 32px;
	display: block;
}

.message i {
	color: #ccc;
	font-size: 10px;
}

/*-------------------------
	Image Previews
--------------------------*/
.preview {
	display: inline-block;
	width: 100%;
	height: 4px;
}

.uploaded {
	height: 20px;
	width: 100%;
	display: none;
}

.uploaded {
	text-align: left;
	display: block;
}

/*-------------------------
	Progress Bars
--------------------------*/
.progressholder {
	background-color: #252f38;
	height: 15px;
	width: 300px;
	box-shadow: 0 0 2px #000;
}

.progress {
	background-color: #80b71b;
	height: 100%;
	width: 0;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.progress.done {
	width: 100% !important;
}

.mb10 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 800px;
	background-color: #ddd;
	padding: 4px;
	text-align: left;
	border: 1px #fff solid;
	margin-bottom: 10px;
	padding: 10px;
}

.hl_wochenkarte {
	margin: 0;
	font-weight: bold;
}

ul.listing { 
    background: none repeat scroll 0 0 #AAAAAA;
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 2px;
    list-style: none outside none;
    padding: 5px;
    margin-bottom: 5px;
}

li.listing  {
   background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 2px;
    line-height: 25px;
    list-style: none outside none;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#workpackageButton {
    background: none repeat scroll 0 0 #6a38ff;
    border: medium none;
    border-radius: 15px;
    color: #FFFFFF;
    float:left;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 2px;
    margin-top:2px;
    padding: 0;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}

#workpackageButton:hover {
	background: #ffffff;
	color: #6a38ff;
	cursor: pointer;
}

button.deleteButton {
    background: none repeat scroll 0 0 #ff0000;
    border: medium none;
    border-radius: 15px;
    color: #FFFFFF;
    float:left;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 2px;
    margin-top:2px;
    padding: 0;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}



button.deleteButton:hover {
	background: #ffffff;
	color: #ff0000;
	cursor: pointer;
}

#taskButton {
    background: none repeat scroll 0 0 #2997e0;
    border: medium none;
    border-radius: 15px;
    color: #FFFFFF;
    float:left;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 2px;
    margin-top:2px;
    padding: 0;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}
#taskButton:hover {
	background: #ffffff;
	color: #2997e0;
	cursor: pointer;
}

#deliverableButton {
    background: none repeat scroll 0 0 #e25c04;
    border: medium none;
    border-radius: 15px;
    color: #FFFFFF;
    float:left;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 2px;
    margin-top:2px;
    padding: 0;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}

#deliverableButton:hover {
	background: #ffffff;
	color: #e25c04;
	cursor: pointer;
}

.button {
    background: none repeat scroll 0 0 #7DC004;
    border: medium none;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    float:left;
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 5px;
    margin-top:5px;
    padding: 5px 15px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}
.button:hover {
	background: #ffffff;
	color: #7dc004;
	cursor: pointer;
}

button#buttonManpower, button#buttonEDF   {
	background: #898989;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font-size: 10px;
	letter-spacing: 1px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

button#buttonManpower:hover, button#buttonEDF:hover {
	background: #ffffff;
	color: #898989;
	cursor: pointer;
}

#addEDFButton {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 15px;
    color: #09377a;
    float:left;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 2px;
    margin-top:2px;
    padding: 0;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}
#addEDFButton:hover {
	background: #09377a;
	color: #ffffff;
	cursor: pointer;
}

.wp > td {
	background: #d3c5fc;
}
.task > td {
	background: #cee8f8;
}
.deliverable > td {
	background: #ffdec9;
}
span.ui-icon {
    float: left;
    margin: 0 2spx;
}

div.listing-element {

	height: 28px;
	width:100%;
	float: none;	
	display:block;
}