<input type="radio" name="type" value="solar">Solar production</input><br/>
<input type="radio" name="type" value="wind">Wind production</input><br/>
<input type="radio" name="type" value="100mw">100 MW table</input><br/><br/>
<input type="radio" name="actual" value="True">Actual procution</input><br/>
<input type="radio" name="actual" value="False">Expected procution</input><br/><br/>
Provider :<br/>
<input type="checkbox" name="provider" value="fzhertz">FZ Hertz</input><br/><br/>
<input type="checkbox" name="provider" value="amprion">Amprion</input><br/><br/>
<input type="checkbox" name="provider" value="tennet">Tennet</input><br/><br/>
<input type="checkbox" name="provider" value="transnetbw">TransnetBW</input><br/>
