This selects data from the following tables :<br/>
<br/>
<strong>EEXTrans_Solar_actual_DE</strong> (Actual solar production in germany) <br/>
<strong>EEXTrans_Solar_expected_DE</strong> (Expected solar production in germany) <br/>
<strong>EEXTrans_Wind_expected_DE</strong> (Expected Wind production in germany) <br/>
<strong>EEXTrans_Wind_actual_DE</strong> (Actual Wind production in germany) <br/>
<strong>EEXTrans_100MW_actual</strong> (Actual production of plants with above 100MW of power in germany) <br/>
<strong>EEXTrans_100MW_expected</strong> (Expected production of plants with above 100MW of power in germany) <br/>
<br/>
