<%inherit file="form_template.html"/>

<%block name="form">
<input type="radio" name="type" value="solar">Solar production</input><br/>
<input type="radio" name="type" value="wind">Wind production</input><br/>
<input type="radio" name="type" value="100mw">100 MW table</input><br/><br/>
<input type="radio" name="actual" value="True">Actual procution</input><br/>
<input type="radio" name="actual" value="False">Expected procution</input><br/><br/>
Provider :<br/>
<input type="checkbox" name="provider" value="fzhertz">FZ Hertz</input><br/><br/>
<input type="checkbox" name="provider" value="amprion">Amprion</input><br/><br/>
<input type="checkbox" name="provider" value="tennet">Tennet</input><br/><br/>
<input type="checkbox" name="provider" value="transnetbw">TransnetBW</input><br/>
</%block>

<%block name="miniguide">
This selects data from the following tables :<br/>
<br/>
<strong>EEXTrans_Solar_actual_DE</strong> (Actual solar production in germany) <br/>
<strong>EEXTrans_Solar_expected_DE</strong> (Expected solar production in germany) <br/>
<strong>EEXTrans_Wind_expected_DE</strong> (Expected Wind production in germany) <br/>
<strong>EEXTrans_Wind_actual_DE</strong> (Actual Wind production in germany) <br/>
<strong>EEXTrans_100MW_actual</strong> (Actual production of plants with above 100MW of power in germany) <br/>
<strong>EEXTrans_100MW_expected</strong> (Expected production of plants with above 100MW of power in germany) <br/>
<br/>
</%block>
