<input type="radio" name="reserve_type" value="PRL">PRL</input><br/>
<input type="radio" name="reserve_type" value="SRL">SRL</input><br/>
<input type="radio" name="reserve_type" value="MRL">MRL</input><br/>
<br/><hr/>Select Market :<br/>
<input type="radio" name="market" value="Netzregelverbund">Netzregelverbund</input><br/>
<input type="radio" name="market" value="Ampirion">Ampirion</input><br/>
<input type="radio" name="market" value="50Hertz">50Hertz</input><br/>
<input type="radio" name="market" value="Tennet">Tennet</input><br/>
<input type="radio" name="market" value="TransnetBW">TransnetBW</input><br/>
<br/>
