This selects data from the following tables :<br/>
<br/>
<strong>SRL_Netzregelverbund_Neu</strong> <br/>
<strong>SRL_Tennet</strong> <br/>
<strong>SRL_Transnet</strong> <br/>
<strong>SRL_50_Hertz</strong> <br/>
<strong>SRL_Amprion</strong> <br/>
<strong>SRL_Transnet</strong> <br/>
<br/>

<strong>MRL_Netzregelverbund_Neu</strong> <br/>
<strong>MRL_Tennet</strong> <br/>
<strong>MRL_Transnet</strong> <br/>
<strong>MRL_50_Hertz</strong> <br/>
<strong>MRL_Amprion</strong> <br/>
<strong>MRL_Transnet</strong> <br/>
These table show the offered capacities, their price and whether or not the bid was accepted.<br/>
Structure : <br/>
<ul><li>Startdate : date at which capacity starts to be available. Format : YYYY-MM-DD. </li>
    <li>Enddate : date at which capacity is available last. Format : YYYY-MM-DD. </li>
    <li>CapacityPrice : Price (in euros) for the capacity offered.</li>
    <li>OfferedPower : Power offered in the bid (in MW)</li>
    <li>Award : Boolean that says if the bid was accepted (True) or not (False).</li>
</ul>
