Selects data from <strong>SRL_ActivationHighRes</strong> table.<br/>
<ul>Table structure :<br/>
<li>Date (format : YYYY-MM-DD)</li>
<li>Time (format : HH:MM:SS, without time zone)</li>
<li>Power (in MW)</li></ul>

<strong>Columns on the table : </strong><br/>
Columns : <ul> <li>TimeStamp (date) : Format is YYYY-MM-DD HH:MM:SS+timezone (GMT +2 is written +02)</li>
<li>AirTemp : ambient air temperature in celcius degrees</li>
<li>RelHumidity : Humidity percentage</li>
</ul><br/>
