Tables that are covered with this page :<br/>
<strong>RZ_Saldo_50_Hertz</strong> (RZ Saldo tables for 50 Hertz provider)<br/>
<strong>RZ_Saldo_Amprion</strong> (RZ Saldo tables for Amprion provider)<br/>
<strong>RZ_Saldo_Netzregelverbund</strong> (RZ Saldo tables for Netzregelverbund provider)<br/>
<strong>RZ_Saldo_Tennet</strong> (RZ Saldo tables for Tennet provider)<br/>
<strong>RZ_Saldo_Tennet</strong> (RZ Saldo tables for Tennet provider)<br/>
<strong>RZ_Saldo_Transnet_BWW</strong> (RZ Saldo tables for Transnet BW provider)<br/>

<strong>Columns on the tables : </strong><br/>
<ul> <li>Startdate (date) : Format is YYYY-MM-DD HH:MM:SS+timezone (GMT +2 is written +02)</li>
    <li>Enddate (date) : Format is YYYY-MM-DD HH:MM:SS+timezone (GMT +2 is written +02)</li>
    <li>Value : Total power in MW</li>
    <li>RelHumidity : Humidity percentage</li>
</ul><br/>
