<input type="radio" name="provider" value="50hz">50 Hertz (eastern germany and hamburg)</input><br/>
<input type="radio" name="provider" value="netzelgerverbund">Netzelgerverbund</input><br/>
<input type="radio" name="provider" value="ampirion">Ampirion</input><br/>
<input type="radio" name="provider" value="tennet">Tennet</input><br/>
<input type="radio" name="provider" value="transnetbw">TransnetBW</input><br/>
