
<ul id="ulNavigation" class="filetree treeview"><li class="collapsable"><div class="hitarea collapsable-hitarea"></div><span class="folder">EIFER</span><ul>
	<li><a class="file" href="?view=Home">Home</a></li>
	<li><a class="file" href="?view=EIFER_Directory">Directory</a></li>
	<li><a class="file" href="?view=EIFER_EIFER20">EIFER2.0</a></li>
	<li><a class="file" href="http://www.for.kit.edu/intranet/foerdat/index.php">Public funding</a></li>
	<li><a class="file" href="?view=EIFER_Whoiswho">Who's who</a></li>
	<li><a class="file" href="?view=EIFER_Communication">Communication</a></li>
	<li><a class="file" href="?view=EIFER_Newsletter">Newsletter</a></li>
	<li><a class="file" href="?view=EIFER_Documents">Documents</a></li>
	<li><a class="file" href="?view=EIFER_Templates">Templates</a></li>
	<li><a class="file" href="?view=EIFER_Processes">Processes</a></li>
	<li><a class="file" href="?view=EIFER_KnowledgeBase">Knowledge base</a></li>
	<li><a class="file" href="?view=EIFER_Safety">Safety</a></li>
	<li><a class="file" href="?view=EIFER_Betriebsrat">Betriebsrat</a></li>
	<li><a class="file" href="?view=EIFER_Gallery">Gallery</a></li>
	<li class="last"><a class="file" href="?view=EIFER_Chat">Chat</a></li></ul></li>
	<li class="collapsable"><div class="hitarea collapsable-hitarea"></div><span class="folder">Publications</span><ul>
	<li><a class="file" href="?view=Publications_2011">2011</a></li>
	<li><a class="file" href="?view=Publications_2010">2010</a></li>
	<li class="last"><a class="file" href="?view=Publications_2009">2009</a></li></ul></li>
	<li class="collapsable"><div class="hitarea collapsable-hitarea"></div><span class="folder">IT Service</span><ul>
	<li><a class="file" href="?view=IT_Maintenance">Maintenances</a></li>
	<li><a class="file" href="?view=4b431bde8a63569a8ada9a73728dbf0f">Operating rules</a></li>
	<li><a class="file" href="?view=IT_Formulars">Formulars</a></li>
	<li class="last"><a class="file" href="?view=IT_Manuals">Manuals</a></li></ul></li>
	<li class="collapsable"><div class="hitarea collapsable-hitarea"></div><span class="folder">News</span><ul>
	<li><a class="file" href="?view=News">All News</a></li>
	<li><a class="file" href="?view=News_EIFER">EIFER</a></li>
	<li><a class="file" href="?view=News_EDF">EDF</a></li>
	<li class="last"><a class="file" href="?view=News_KIT">KIT</a></li></ul></li>
	<li class="collapsable"><div class="hitarea collapsable-hitarea"></div><span class="folder">Miscellaneous</span><ul>
	<li><a class="file" href="?view=EIFER_Casino">Casino Menu</a></li>
	<li><a class="file" href="http://www.kvv.de/" target="_blank">Tram (KVV)</a></li>
	<li class="last"><a class="file" href="http://www.db.de/" target="_blank">Train (DB)</a></li></ul></li>
	<li class="collapsable lastCollapsable"><div class="hitarea collapsable-hitarea lastCollapsable-hitarea"></div><span class="folder">External Links</span><ul>
	<li><a class="file" href="https://ftp.eifer.uni-karlsruhe.de/xu2/index.php" target="_blank">EIFER Files (FTP)</a></li>
	<li><a class="file" href="http://eifer49:8080/geoportal/catalog/main/home.page" target="_blank">Geoportal (GIS-Metadata)</a></li>
	<li><a class="file" href="http://glpi.eifer.uni-karlsruhe.de" target="_blank">Ticketsystem GLPI</a></li>
	<li><a class="file" href="https://webmail.eifer.uni-karlsruhe.de" target="_blank">Webmail</a></li>
	<li><a class="file" href="https://quickreiferintern.eifer.uni-karlsruhe.de" target="_blank">Quickr Intern</a></li>
	<li class="last"><a class="file" href="https://quickreifer.eifer.uni-karlsruhe.de" target="_blank">Quickr Extern</a></li></ul></li></ul>
	<hr>
	<a href="?do=logout">Logout</a><br>


<table>
    <tr><td>%a</td>	<td>Abbreviated weekday name (Sun..Sat) </td></tr>
    <tr><td>%b</td>	<td>Abbreviated month name (Jan..Dec) </td></tr>
    <tr><td>%c</td>	<td>Month, numeric (0..12) </td></tr>
    <tr><td>%D</td>	<td>Day of the month with English suffix (0th, 1st, 2nd, 3rd, …) </td></tr>
    <tr><td>%d</td>	<td>Day of the month, numeric (00..31) </td></tr>
    <tr><td>%e</td>	<td>Day of the month, numeric (0..31) </td></tr>
    <tr><td>%f</td>	<td>Microseconds (000000..999999) </td></tr>
    <tr><td>%H</td>	<td>Hour (00..23) </td></tr>
    <tr><td>%h</td>	<td>Hour (01..12) </td></tr>
    <tr><td>%I</td>	<td>Hour (01..12) </td></tr>
    <tr><td>%i</td>	<td>Minutes, numeric (00..59) </td></tr>
    <tr><td>%j</td>	<td>Day of year (001..366) </td></tr>
    <tr><td>%k</td>	<td>Hour (0..23) </td></tr>
    <tr><td>%l</td>	<td>Hour (1..12) </td></tr>
    <tr><td>%M</td>	<td>Month name (January..December) </td></tr>
    <tr><td>%m</td>	<td>Month, numeric (00..12) </td></tr>
    <tr><td>%p</td>	<td>AM or PM </td></tr>
    <tr><td>%r</td>	<td>Time, 12-hour (hh:mm:ss followed by AM or PM) </td></tr>
    <tr><td>%S</td>	<td>Seconds (00..59) </td></tr>
    <tr><td>%s</td>	<td>Seconds (00..59) </td></tr>
    <tr><td>%T</td>	<td>Time, 24-hour (hh:mm:ss) </td></tr>
    <tr><td>%U</td>	<td>Week (00..53), where Sunday is the first day of the week; WEEK() mode 0 </td></tr>
    <tr><td>%u</td>	<td>Week (00..53), where Monday is the first day of the week; WEEK() mode 1</td></tr>
    <tr><td>%V</td>	<td>Week (01..53), where Sunday is the first day of the week; WEEK() mode 2; used with %X</td></tr>
    <tr><td>%v</td>	<td>Week (01..53), where Monday is the first day of the week; WEEK() mode 3; used with %x</td>
    <tr><td>%W</td>	<td>Weekday name (Sunday..Saturday)</td>
    <tr><td>%w</td>	<td>Day of the week (0=Sunday..6=Saturday)</td>
    <tr><td>%X</td>	<td>Year for the week where Sunday is the first day of the week, numeric, four digits; used with %V</td>
    <tr><td>%x</td>	<td>Year for the week, where Monday is the first day of the week, numeric, four digits; used with %v</td>
    <tr><td>%Y</td>	<td>Year, numeric, four digits</td>
    <tr><td>%y</td>	<td>Year, numeric (two digits)</td>
    <tr><td>%%</td>	<td>A literal “%” character</td>
</table><br/>
