This selects data from the following tables :<br/>
<br/>
<strong>EPEX_DayAheadHour_CH</strong> (Day Ahead, Hourly, Switzerland)<br/>
<strong>EPEX_DayAheadHour_FR</strong> (Day Ahead, Hourly, France)<br/>
<strong>EPEX_DayAheadHour_DE</strong> (Day Ahead, Hourly, Germany)<br/>
<br/>
<strong>EPEX_DayAheadBlocks_DE</strong> (Day Ahead, Quarterhourly, Germany)<br/>
<strong>EPEX_DayAheadBlocks_FR</strong> (Day Ahead, Quarterhourly, France)<br/>
<strong>EPEX_DayAheadBlocks_CH</strong> (Day Ahead, Quarterhourly, Switzerland)<br/>
<br/>
