<input type="radio" name="type" value="intraday">Intraday</input><br/>
<input type="radio" name="type" value="dayahead">Day Ahead</input><br/><br/>

<input type="radio" name="resolution" value="hourly">Hourly resolution</input><br/>
<input type="radio" name="resolution" value="quarterhourly">Quarterhourly resolution</input><br/><br/>

If you selected Day Ahead, if you have not selected hourly resolution :<br/>
<input type="radio" name="time" value="basepeak">Base peak</input><br/>
<input type="radio" name="time" value="blocks">Blocks</input><br/><br/>

Country :<br/>
<input type="radio" name="country" value="ch">Switzerland</input><br/>
<input type="radio" name="country" value="fr">France</input><br/>
<input type="radio" name="country" value="de">Germany</input><br/><br/>
