<!doctype html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="template_edit.css" />
    <script src="script.js"></script>
</head>
<body>
<div id="page">
    <div id="header">
        <div style="width: 260px; float: left">
            <a href="index"><h1 id="logo">Title</h1></a><br/><br/>
        </div>
        <h1>Web interface to electricity production and pricing database</h1>
    </div>
    <div style="clear: both;"></div>
    <%block name="breadcrumb"/>
    <div id="navigation">
        <!-- navigation here -->

        <a href='tutorial'>Tutorial</a><br/><br/>
        <a href='whatisthis'>What is this</a><br/><br/></div>
</div>
<div id="page_content">

    <form method="get" action="${function_name}">${group_name} data download :<br/><br/>
        <%block name="form"/>

        <button type="submit">Get data</button></form>

</div><br/>
</form>

</div>

<div id="metadata">
    <%block name="miniguide"/>
</div>
<div style="clear: both;"></div>
</div>
<footer>
    <div id="backtotop">
        <a href="#header">[back to top]</a>
    </div>
    <div id="copyright">
        <!-- copyright here -->
    </div>
</footer>
</body>
</html>

